.recommendation-card {
  min-width: 200px;
  max-width: 480px;
  padding: 15px;
  background-color: #262b30;
  border: 1px solid #2d3236;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.recommendation-card-titles {
  display: flex;
  column-gap: 8px;
}

.recommendation-card-body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 270px;
}

.card-titles-user, .card-titles-editor {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 13px;
}

.card-titles-user img {
  border-radius: 50%;
}

.card-titles-user {
  color: #fff;
}

.card-titles-editor img {
  border-radius: 40%;
}

.card-titles-editor {
  color: #b9bdc7;
}

.card-titles-editor img, .card-titles-user img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.card-body-main-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.card-body-elements {
  display: flex;
  column-gap: 12px;
}

.card-body-elements-comment {
  cursor: pointer;
}

.card-body-elements-comment:hover {
  text-decoration: underline;
}

.card-body-elements-rating {
  color: #618f45;
}

.card-body-elements-comment {
  display: flex;
  column-gap: 5px;
  color: #8f939d;
}

.card-body-elements-comment svg {
  width: 16px;
  height: 16px;
}

.card-body-title {
  font-size: 16px;
  color: #b9bdc7;
  line-height: 25px;
}

.card-body-desc {
  font-size: 14px;
  color: #b9bdc7;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 25px;
}

.card-body-read-link {
  margin-bottom: 0;
  text-decoration: none;
  color: #618f45;
}

.coeff.crossed {
  position: relative;
}

.coeff.crossed::before {
  content: "";
	border-bottom: 2px solid red;
	position: absolute;
	width: 100%;
	height: 25%;
	transform: rotate(-9deg);
	left: -3px;
}

.coeff.crossed::after {
  content: "";
	border-bottom: 2px solid red;
	position: absolute;
	width: 101%;
	height: 27%;
	transform: rotate(9deg);
	left: 0;
}

@media (max-width: 375px) {
  .recommendation-card-body {
    height: 245px;
  }

  .card-titles-user, .card-titles-editor {
    font-size: 10px;
  }

  .card-body-title {
    font-size: 16px;
    line-height: 18px;
  }

  .card-body-desc {
    font-size: 11px;
    line-height: 18px;
  }   
}