.footer {
  padding: 40px;
  display: flex;
  column-gap: 80px;
  justify-content: center;
}

.footer-section {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer-section-head {
  font-size: 14px;
  font-weight: 700;
  color: #e0e3ea;
  text-transform: uppercase;
}

.footer-section-item {
  font-size: 14px;
  font-weight: 500;
  color: #b9bdc7;
}

.footer-section-item:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    column-gap: 40px;
  }
}

@media (max-width: 640px) {
  .footer {
    flex-direction: column;
    row-gap: 25px;
  }
  
  .footer-section {
    align-items: center;
  }
}