.comments {
  background-color: #262b30;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 25px;
}

.comments-head {
  color: #618f45;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #21262a;
  margin-bottom: 15px;
  padding: 15px 10px;
}

.comments-head-left span {
  border-bottom: 3px solid #618f45;
  padding: 15px 0;
}

.comments-head-right span {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.comments-body {
  padding: 0 10px;
}

@media (max-width: 767px) {
  .comments {
    background-color: transparent;
  }

  .add-pad {
    padding: 0 10px;
  }
}

@media (max-width: 375px) {
  .add-pad {
    padding: 0 5px;
  }
}