* {
  margin: 0;
  font-family: 'Roboto', 'Open Sans', 'Questrial', sans-serif;
}

body {
  background-color: #22272b;
}

a {
  text-decoration: none;
  color: #000;
}

.billet {
  padding: 15px 10px;
  width: 250px;
  text-align: center;
  line-height: 25px;
  background-color: #0a0a0a;
  color: #fff;
}

.bill-pos {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.coeff {
  background: #22272b;
  display: flex;
  justify-content: space-around;
  width: 250px;
  padding: 10px;
}

.coeff-btn {
  border: 1px solid #6a6f76;
  border-radius: .4rem;
  background: transparent;
  color: #8f939d;
  width: 80px;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 600;
  transition: background .2s ease;
}

.coeff-btn:hover {
  background: #00000091;
}

.coeff-btn:disabled:hover {
  background: transparent;
}

.advert {
  position: absolute;
  right: 20px;
  top: 20px;
}

.bank-resp {
  position: absolute;
  left: 50%;
  top: 88px;
  transform: translate(-50%);
  width: 312px;
  padding: 7px 70px;
  color: "#000";
  background: "#fff";
  font-weight: 600;
  text-align: center;
}

@media(max-width: 767px) {
  .billet {
    width: 150px;
  }

  .coeff {
    width: 150px;
  }
  .advert {
    transform: scale(.8);
    right: 0;
  }
}

@media(max-width: 424px) {
  .bank {
    width: 30px;
    padding-top: 5px;
    font-size: 9px;
  }

  .bank-resp {
    width: 150px;
    font-size: 12px;
    padding: 5px;
  }
}

@media(max-width: 640px) {
  .bank-resp {
    width: 200px;
    font-size: 12px;
    padding: 5px;
  }
}
